/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    background: tomato;
}

.container {
    max-width: 690px;
    width: 100%;
    padding: 30px;
    background: rgb(239, 230, 227);
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
}

.container header {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
}
header img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
header img:hover {
    transform: scale(1.2);
}

.wrapper {
    border-radius: 5px;
    border: 1px solid tomato;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 1px solid tomato;
}

.text-input .to-text {
    border-radius: 0px;
    border-left: 1px solid tomato;
}

.text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #c35441;
}

.text-input textarea::placeholder {
    color: rgba(255, 99, 71, 0.463);
}

.controls,
li,
.icons,
.icons i {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}

.controls .row .icons {
    width: 38%;
}

.controls .row .icons i {
    width: 50px;
    color: tomato;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
    justify-content: center;
}

.controls .row .icons i:hover {
    transform: scale(1.2);
    color: #c35441;
}

.controls .row.from .icons {
    padding-right: 15px;
    height: 40px;
    border-right: 2px solid tomato;
}


.controls .row.to .icons {
    padding-left: 15px;
    height: 40px;
    border-left: 2px solid tomato;
}

.controls .row select {
    color: tomato;
    border-radius: 5px;
    border: 1px solid tomato;
    outline: none;
    font-size: 18px;
    background: none;
    padding-left: 5px;
}

.text-input textarea::-webkit-scrollbar {
    width: 4px;
}

.controls .row select::-webkit-scrollbar {
    width: 8px;
}

.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
    background: #df735f6c;
}

.text-input textarea::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 8px;
}

.controls .row select::-webkit-scrollbar-thumb {
    background: tomato;
    border-radius: 8px;
    border-right: 2px solid tomato;
}


.controls .exchange {
    color: tomato;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
}

.controls .exchange:hover {
    transform: scale(1.2);
    color: #c35441;
}

.controls i:active {
    transform: scale(0.9);
}

.container button {
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    background: tomato;
    transition: all 0.4s ease;
}
.container button:hover {
    background: #c35441;
}

@media (max-width: 660px) {
    .container {
        padding: 20px;
    }

    .wrapper .text-input {
        flex-direction: column;
    }

    .text-input .to-text {
        border-left: 0px;
        border-top: 2px solid #c35441;
    }

    .text-input textarea {
        height: 180px;
    }

    .controls .row .icons {
        display: none;
    }

    .container button {
        padding: 13px;
        font-size: 16px;
    }

    .controls .row select {
        font-size: 16px;
    }

    .controls .exchange {
        font-size: 14px;
    }
}

/* mobile view */
@media (max-width: 400px) {
    .container {
        padding: 15px;
    }

    .text-input textarea {
        height: 175px;
    }

    .container button {
        padding: 12px;
        font-size: 15px;
    }

    .controls .row select {
        font-size: 12px;
    }

    .controls .exchange {
        font-size: 15px;
    }
}